name: .NET CI/CD to AWS

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Publish
        run: dotnet publish -c Release -o ./publish

      - name: Zip Artifacts
        run: zip -r app.zip ./publish

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: |
          aws s3 cp app.zip s3://${{ secrets.AWS_ARTIFACT_BUCKET }}/app-${{ github.sha }}.zip

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to EC2
        run: |
          aws deploy create-deployment \
            --application-name dotnet-app \
            --deployment-group-name dotnet-app-dg \
            --s3-location bucket=${{ secrets.AWS_ARTIFACT_BUCKET }},key=app-${{ github.sha }}.zip,bundleType=zip
      - name: Zip Artifacts
        run: |
            # Move appspec.yml to root of zip
            cp appspec.yml ./publish/
            cp -r scripts ./publish/
            cd ./publish && zip -r ../app.zip .  